/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 
 //This board is derived from the nrf52833dk_nrf52833.dts board

/dts-v1/;
#include <nordic/nrf52833_qiaa.dtsi>

/ {
	model = "Nordic nRF52833 DK NRF52833";
	compatible = "nordic,nrf52833-dk-nrf52833";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
    zephyr,canbus = &mcp2515;
	};

  /*/
  arduino_header: connector {
		compatible = "arduino-header-r3";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 3 0>,	// A0
			   <1 0 &gpio0 4 0>,	// A1
			   <2 0 &gpio0 28 0>,	// A2
			   <3 0 &gpio0 29 0>,	// A3
			   <4 0 &gpio0 30 0>,	// A4
			   <5 0 &gpio0 31 0>,	// A5
			   <6 0 &gpio1 1 0>,	// D0
			   <7 0 &gpio1 2 0>,	// D1
			   <8 0 &gpio1 3 0>,	// D2
			   <9 0 &gpio1 4 0>,	// D3
			   <10 0 &gpio1 5 0>,	// D4
			   <11 0 &gpio1 6 0>,	// D5
			   <12 0 &gpio1 7 0>,	// D6
			   <13 0 &gpio1 8 0>,	// D7
			   <14 0 &gpio0 17 0>,	// D8
			   <15 0 &gpio0 19 0>,	// D9
			   <16 0 &gpio0 20 0>,	// D10
			   <17 0 &gpio0 21 0>,	// D11
			   <18 0 &gpio0 22 0>,	// D12
			   <19 0 &gpio0 23 0>,	// D13
			   <20 0 &gpio0 26 0>,	// D14
			   <21 0 &gpio0 27 0>;	// D15
	};
  */
	
	aliases {
    adc = &adc;
    i2c0 = &i2c0;
    gpio0 = &gpio0;
    spi1 = &spi1;
    //can1 = &mcp2515;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	tx-pin = <6>;
	rx-pin = <8>;
  rx-pull-up;
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
  sck-pin = <28>;
  miso-pin = <30>;
  mosi-pin = <29>;
    cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;

  mcp2515: can@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		//int-gpios = <&arduino_header 8 GPIO_ACTIVE_LOW>; /* D2 */
    //int-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
    int-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		status = "okay";
		label = "MCP2515";
		reg = <0x0>;
		osc-freq = <16000000>;
		bus-speed = <125000>;
		sjw = <1>;
		sample-point = <875>;
	};
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0xC000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x0003E000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x00070000 0xA000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007A000 0x00004000>;
		};
    user_partition: partition@7e000 {
      label = "user-storage";
      reg = <0x0007E000 0x00002000>;
    };
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};